# Import Libraries & Dataset

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
df = pd.read_csv('C:/Users/TAMI/!BRAIN/rakamin/mini project 2/hotel_bookings_data.csv')

# Data Preprocessing

In [4]:
pd.set_option('display.max_columns', None)
df.sample(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,children,babies,meal,city,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
66566,City Hotel,1,158,2019,June,16,21,2,2,2,0.0,0,Breakfast,Kabupaten Kepulauan Seribu,Online TA,TA/TO,0,0,0,0,No Deposit,9.0,NaN,0,Personal,117.0,0,1,Canceled
29208,Resort Hotel,0,41,2019,October,33,18,1,2,2,0.0,0,Dinner,Kota Denpasar,Direct,TA/TO,1,0,4,0,No Deposit,250.0,NaN,0,Personal,331.0,1,2,Check-Out
112824,City Hotel,0,122,2019,July,21,27,1,1,1,0.0,0,Breakfast,Kota Denpasar,Groups,TA/TO,0,0,0,0,No Deposit,12.0,NaN,0,Family,104.0,0,0,Check-Out
105509,City Hotel,0,43,2019,April,6,7,0,4,2,0.0,0,Breakfast,Kota Yogyakarta,Online TA,TA/TO,0,0,0,0,No Deposit,9.0,NaN,0,Personal,90.1,0,1,Check-Out
114698,City Hotel,0,184,2019,August,25,23,1,2,2,0.0,0,Breakfast,Kabupaten Magelang,Offline TA/TO,TA/TO,0,0,0,0,No Deposit,6.0,NaN,0,Personal,89.1,0,1,Check-Out

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 29 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_weekdays_nights        119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  city                            118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  booking_changes                 119390 non-null  int64
 20  deposit_type                    119390 non-null  object
 21  agent                           103050 non-null  float64
 22  company                         6797 non-null    float64
 23  days_in_waiting_list            119390 non-null  int64
 24  customer_type                   119390 non-null  object
 25  adr                             119390 non-null  float64
 26  required_car_parking_spaces     119390 non-null  int64
 27  total_of_special_requests       119390 non-null  int64
 28  reservation_status              119390 non-null  object
dtypes: float64(4), int64(16), object(9)
memory usage: 26.4+ MB

Pengamatan:
1. Data terdiri atas 119.390 baris.
2. Beberapa kolom masih memiliki nilai null/missing values.

## Missing Value

In [7]:
df.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_weekdays_nights               0
adults                                 0
children                               4
babies                                 0
meal                                   0
city                                 488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
dtype: int64

In [8]:
# Mengatasi Missing Values

## Nilai kosong pada kolom "agent" dapat dianggap bahwa pemesanan dilakukan tanpa melalui agen.
## Nilai kosong pada kolom "company" dapat dianggap bahwa pemesanan tersebut dilakukan untuk personal/pribadi.
na_replace = {'children':0.0, 'city':'Unknown', 'agent':0, 'company':0}
df_clean = df.fillna(na_replace)

## Nilai 'Undefined' pada kolom "meal" sama dengan "SC" (SC = Self-Catering).
df_clean['meal'].replace('Undefined', 'Self Catering', inplace = True)

## Membuang baris yang memiliki jumlah tamu 0 adults, 0 children, & 0 babies
no_guest = list(df_clean.loc[df_clean['adults'] +
                             df_clean['children'] +
                             df_clean['babies']==0].index)
df_clean.drop(df_clean.index[no_guest], inplace = True)

In [9]:
df_clean.shape

(119210, 29)

In [12]:
df_clean.sample(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,children,babies,meal,city,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
28847,Resort Hotel,0,4,2018,December,42,10,1,1,1,0.0,0,Breakfast,Kota Batu,Online TA,TA/TO,0,0,0,0,No Deposit,240.0,0.0,0,Personal,62.00,1,2,Check-Out
47042,City Hotel,0,29,2018,April,6,5,0,2,2,0.0,0,Breakfast,Kota Denpasar,Online TA,TA/TO,0,0,0,0,No Deposit,9.0,0.0,0,Personal,84.65,0,0,Check-Out
45258,City Hotel,0,69,2017,December,44,25,2,1,2,0.0,0,Breakfast,Kota Denpasar,Groups,TA/TO,0,0,0,0,No Deposit,37.0,0.0,58,Family,85.67,0,0,Check-Out
110026,City Hotel,0,78,2019,June,16,17,1,3,2,1.0,0,Dinner,Kabupaten Kepulauan Seribu,Online TA,TA/TO,0,0,0,1,No Deposit,9.0,0.0,0,Personal,198.00,0,2,Check-Out
116376,City Hotel,0,117,2019,September,29,16,2,1,2,0.0,0,Breakfast,Kabupaten Bandung,Online TA,TA/TO,0,0,0,0,No Deposit,9.0,0.0,0,Personal,126.00,0,2,Check-Out